<md-content layout-padding>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Exams - {{regis.name}}</h2>
            <md-button class="md-icon-button" aria-label="Back" ng-click="leaveExam()">
                <md-icon>arrow_back</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Registration Information</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content layout="column">
            <div>
                <strong>Nome:</strong> {{regis.name}}
            </div>
            <div>
                <strong>Data de Nascimento:</strong> {{regis.birth | date:'dd/MM/yyyy'}}
            </div>
            <div>
                <strong>CPF:</strong> {{regis.cpf}}
            </div>
            <div>
                <strong>Telefone:</strong> {{regis.phone}}
            </div>
        </md-card-content>
    </md-card>
    <div>
        <svg width="200" height="50"></svg>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">ECG Graph</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content ng-repeat="_ in ecg_data track by $index">
                <div class="flex-card">
                    <div class="ecg-graph big-graph">
                        <canvas id="ecgGraph{{$index}}" width="800" height="200"></canvas>
                    </div>

                    <div class="ecg-flex-graphs">
                        <div class="ecg-graph mini-graph">
                            <canvas id="ecgGraphEcg{{$index}}" width="200" height="50"></canvas>
                        </div>
                        <svg width="200" height="50"></svg>
                        <div class="ecg-graph mini-graph">
                            <svg width="200" height="50"></svg>
                        </div>
                    </div>

                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>
