<md-content layout-padding>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Cadastrar</h2>
        </div>
    </md-toolbar>

    <form name="regForm" ng-submit="submitForm()" layout="column">
        <md-input-container>
            <label>Nome</label>
            <input type="text" ng-model="regis.name" name="name" ng-pattern="namePattern" required>
            <span class="error" ng-show="regForm.name.$dirty && regForm.name.$invalid">Nome inválido!</span>
        </md-input-container>
        <md-input-container>
            <label>Data de Nascimento</label>
            <md-datepicker ng-model="regis.birth" name="birth" md-min-date="minDate" md-max-date="maxDate" required></md-datepicker>
            <span class="error" ng-show="regForm.birth.$dirty && regForm.birth.$invalid">Data de nascimento inválida!</span>
        </md-input-container>
        <md-input-container>
            <label>CPF</label>
            <input type="text" ng-model="regis.cpf" name="cpf" mask="{{cpfMask}}" model-view-value="true" required>
            <span class="error" ng-show="regForm.cpf.$dirty && regForm.cpf.$invalid">CPF inválido!</span>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
            <label>Phone</label>
            <input type="tel" ng-model="regis.phone" name="phone" mask="{{phoneMask}}" model-view-value="true">
            <span class="error" ng-show="regForm.phone.$dirty && regForm.phone.$invalid">Telefone inválido!</span>
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary">Cadastrar</md-button>
    </form>
</md-content>
