<md-content layout-padding layout-justify="center center">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Cadastros</h2>
        </div>
    </md-toolbar>

    <md-input-container>
        <label>Procurar</label>
        <input ng-model="search">
    </md-input-container>

    <md-table-container>
        <table md-table>
            <thead md-head>
                <tr md-row>
                    <th md-column class="col-name">Nome</th>
                    <th md-column class="col-birth">Data de Nascimento</th>
                    <th md-column class="col-cpf">CPF</th>
                    <th md-column class="col-phone">Telefone</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="regis in regises | filter:search" ng-click="goToExams(regis)">
                    <td md-cell class="col-name">{{regis.name}}</td>
                    <td md-cell class="col-birth">{{regis.birth | date:'dd/MM/yyyy'}}</td>
                    <td md-cell class="col-cpf">{{regis.cpf}}</td>
                    <td md-cell class="col-phone">{{regis.phone}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
</md-content>
