.col-name,
.col-birth,
.col-cpf,
.col-phone {
    width: 25%;
}

span.error {
    color: red;
    font-size: 0.8em; /* You can adjust this value to match your design */
    margin-top: 5px;
}

div.flex-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

div.flex-card {
    margin: 10px;
}